<form action="/api/upload" method="POST" enctype="multipart/form-data">
<!-- <input type="text" name="userid" placeholder="userid"> -->
<input type="text" name="email" placeholder="email">
<input type="text" name="caption" placeholder="caption">
<input type="file" name="image">
<input type="text" name="like" placeholder="likestatus">
<!-- <input type="date" name="date"> -->
<button type="submit"> submit</button>
</form>